body{
	margin:0px !important;
	font-family: sans-serif;
	color:#333;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	margin: 0pt;
}
h1{
	color:#555;
}
.warningBox{
	margin-top: 12px;
}
.warning{
	padding: 10px 20px;
	background-color: #FFECB3;
}
.small-warning{
	background-color: #FFECB3;
	font-size: 90%;
	padding: 10px 3px;
}
.center .mui-row{
	margin: 0;
}
.fixed{
	position: fixed;	
}
.fixed.header{
	width: 100%;
	z-index: 3;
}
.drawer.footer {
	width: 100%;
}
.drawer{
	display:block;
	overflow: scroll;
	background-color: #fefefe;
	padding:0px;
    -webkit-transition: width 1s; /* Safari 3.1 to 6.0 */
    transition: width 1s;
}
.drawer.fixed.mui--hidden-xs.mui-col-sm-3.mui-col-lg-2{
	display:block;
	height:100vh;
	overflow: scroll;
	background-color: #fefefe;
	padding:0px;
    -webkit-transition: width 1s; /* Safari 3.1 to 6.0 */
    transition: width 1s;
}
.drawer header.menuHeader {
	background-color: #fff;
	box-shadow: none;
}
.drawer header{
	padding:1px 15px;
}
.drawer header h3{
	margin: 0px;
}
.drawer header h3 a{
	color:#999;
	line-height: 2.9;
}
.drawer header h3 a:hover{
	text-decoration: none;
}
.drawer ul{
	list-style-type: none;
	padding-left: 3px;
}
.drawer ul li{
	padding:10px;
	cursor:pointer;
}
.drawer ul ul.signin{
	margin: 0px 0px 0px;
}
.drawer ul li.category.questions{
		padding-top: 24px;
		border-top:1px solid #dfdfdf;
		margin-top: 18px;
}
.drawer ul li.category{
	margin-top: 10px;
}
.drawer ul li.category:hover{
	background-color: #eeeeee;
}
.drawer ul ul li{
	margin-left:10px;	
	color:#444;
}
.drawer ul ul span{
	color:#444;
}
.drawer ul ul a{
	color:#444;
}
.drawer ul ul .fakeRoot{
	border-top: 1px solid #dfdfdf;
	padding-top: 24px;
	margin-top: 18px;
}
.drawer ul ul a .fakeRoot  {
	color:#333;
}
.drawer ul ul a .fakeRoot:hover {
	color:#333;
	text-decoration: none;
}
.drawer ul ul li.active{
	color: #558B2F;
}
.drawer ul ul li:hover{
	text-decoration: underline;
}
.drawer .mui-divider{
	margin-bottom: 10px;
}
.drawer form li{
	padding: 0px 15px;
}
.drawer .mui-textfield{
	margin-bottom: 0px;
	font-size: 8px;
}
.drawer .signin-social{ 
	position: relative;
}
.drawer .signin-social button{ 
	margin-top: 10px ;
	margin-bottom: 0px;
}
.drawer .signin-social .mui-col-xs-6{
	padding:0px;
}
.drawer .signin-social span{
	display: block;
	width: 100%;
}
.drawer .signin-social .mui-col-xs-6 .mui-btn{ 
	position: absolute;
	right: 20px;
	bottom: 0;
}
.drawer .fakeRoot {
	margin-left: 0px;
	font-weight: 700;
	color: #333;
	width: 100%;
	margin-top: 8px;
}
.drawer .fakeRoot:hover{
	background-color: #eee;
	text-decoration: none;
}
.drawer .highlight{
	color:#FF6F00 !important;
}
.center{
	float: right !important;
	width:100%;
	background-color: #eeeeee;
	height:100vh;


}
.center.mui-col-sm-9{
	padding:0px;
	    -webkit-transition: width 1s; /* Safari 3.1 to 6.0 */
    transition: width 1s;
}
.center header{
	padding:1px 15px;
	background-color: #78909C;
	box-shadow: 0 4px 2px -2px #90A4AE;
	color:#fff;
}
.center header i{
	display: none;
}

.center .box{
	width: 100%;
	margin-top: 30px;
	background-color: #fafafa;
	padding:20px;
	box-shadow: 0px 1px 4px  #aaa;}
.center .banner {
	margin-top: 60px;
	position: relative;
	width: 100%;
	height: 149.8px;
	background-color:#90A4AE;
	color:#fff;
}
.center .banner .bubbleContainer {
	width: 162px;
	height: 100%;
	float:left;
}
.center .banner .taglineContainer{
	padding-top:3px;
}
.center .banner .close{
	float:right;
	margin: 13px 17px;
	cursor: pointer;
}
@media (max-width: 400px){
	.center .banner .close{
		margin-top: 6px;
	}
	.tiny-break{
		display: none;
	}	
}
.center .banner .bubbleContainer .bubble{
	border-radius: 100px;
	background-color: #FFB300;
	color: #fff;
	height: 113px;
	margin: 18px 24px;
	text-align: center;
	padding-top:38px;
	width: 113px;
	font-weight: 500;
}
.main.mui-row{
	padding: 20px;
	background-color: #eeeeee;
}
@media (max-width: 480px){
	div.main.mui-row{
		padding: 8px;
	}
}
.main .aboutUs .box {
	margin-top: 0;
}
.main .aboutUs h1{
	margin-bottom: 33px;
}
.main .mainHeader{
}
.signin-social{
	text-align: center;
}
.signin-social img{
	margin:5px 0px 5px 0px; 
}

div.mui-checkbox{
	margin-top: 0px;
}
.mui--pull-left.optionBox{
	width:100%;
	margin: 1px 0px;
}
.mui--pull-right.optionText{
	width: 94%;
}
.box.voteField{
	padding-bottom: 10px
}
.voteField hr{
	margin-bottom: 10px;
}


.centerSVG{
	display:block;
	width: 200px;
	float:left;
	margin-left: 3px;
	  transform: rotate(180deg);
}

.labelTEMP{
	height: 200px;
	float:left;
	margin-top: 9px;
}
.labelTEMP span{
	display: block;
	padding: 7.9px 8px;
	margin-bottom: 3.7px;
	background-color: #9FA8DA;
	color:#fff;
}

.tallyTEMP{
	display: block;
	float:right;
	padding: 7.9px 5px 7.9px 0px;
	margin-bottom: 3.7px;
	margin-left: 0px;
	background-color: #9FA8DA;
	color:#fff;
	width: 62px;
	text-align: right;
	font-size: .9em;
}
.extraTOP{
	margin-top: 9px;
}

@media (max-width: 400px) {
	.mui-col-xs-12{
		padding-right: 0px !important;
		padding-left: 0px !important;
	}
	.box.graph{
		padding: 3px !important;
	}
}
@media (min-width: 390px){
	.tallyTEMP{
		margin-left: 30px;
	}
}
@media (min-width: 401px){
	.tallyTEMP{
		margin-left: 0px;
	}
}
@media (min-width: 430px){
	.tallyTEMP{
		margin-left: 50px;
	}
}
@media (min-width: 520px){
	.tallyTEMP{
		margin-left: 130px;
	}
}

@media (min-width: 700px){
	.tallyTEMP{
		margin-left: 240px;
	}
}
@media (min-width: 768px){
	.tallyTEMP{
		margin-left: 60px;
	}
}
@media (min-width: 910px){
	.tallyTEMP{
		margin-left: 120px;
	}
}
@media (min-width: 1050px){
	.tallyTEMP{
		margin-left: 220px;
	}
}
@media (min-width: 1190px){
	.tallyTEMP{
		margin-left: 330px;
	}
}
@media (min-width: 1440px){
	.tallyTEMP{
		margin-left: 530px;
	}
}
